extends chrome
block content
  p you are looking at archive #{id}
  table
    tr
      th encoding key
      th offset
      th size
    each entry in archiveEntries
      tr
        td #[a(href='../e/' + entry.ekey)= entry.ekey]
        td= entry.offset
        td= entry.size
