html
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inconsolata')
    style(type='text/css').
      body {
        font-family: 'Inconsolata', monospace;
        font-size: 16px;
      }
      td {
        padding-left: 8px;
        padding-right: 8px;
        text-align: right;
        vertical-align: top;
      }
    title tactless.dev
  body
    p this is tactless.dev
    block content
