extends chrome
block content
  table
    tr
      th product
      th tact versions hash
      th tact cdns hash
    each p of products
      tr
        td= p.name
        td #[a(href='v/' + p.versions.hash)= p.versions.hash]
        td= p.cdns.hash
