extends chrome
block content
  p you are looking at versions #{id}
  table
    tr
      td BuildConfig
      td #[a(href='../build/' + config.BuildConfig)= config.BuildConfig]
    tr
      td CDNConfig
      td #[a(href='../cdn/' + config.CDNConfig)= config.CDNConfig]
